@using GushWeb.Utility
@model IEnumerable<t_alarmnotes>
@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.Hidden("codes", item.Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Code)

        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            <span name="@item.Code" tagp="@item.Price" tagc="@item.Closed">@ConvertHelper.AmplitudeConvert(item.Closed, item.Price)</span>
            <span>|</span>
            <span>@ConvertHelper.AmplitudeConvert(item.Closed, item.Price)</span>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Time)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.Code })
        </td>
    </tr>
}