@using GushWeb.Utility
@using System.Configuration
@model IEnumerable<t_alarmnotes>
@{
    var url = ConfigurationManager.AppSettings["iwc"];

    //GushDBContext db = new GushDBContext();
    //var max_date = db.ChangesList.Max(d => d.Date_9);
    //Dictionary<string, int?> samples = db.ChangesList.Where(pair => pair.Date_9.CompareTo(max_date) == 0).ToDictionary(pair => pair.Code, pair => pair.Num);
}
@foreach (var item in Model)
{
<tr>
    <td>
        @Html.Hidden("codes", item.Code)
    </td>
    <td>
        @ControlHelper.UrlControl(url, item.Code)
    </td>
    <td>
        @*@Html.ActionLink(item.Name, "Details", new { id = item.Code }, new { target = "_blank" })*@
        @Html.ActionLink(item.Name, "Netbuy", "Transaction", new { date = item.Code }, new { target = "_blank" })
        @Html.CheckBox("ckb", new { value = @item.Name })
    </td>
    <td>
        <span name="@item.Code" mode="change" tagp="@item.Price2" tagc="@item.Closed" style="color:@(item.Price2>item.Price?"red":"green")">@ConvertHelper.AmplitudeConvert(item.Closed, item.Price2)</span>
        <span>|</span>
        <span>@ConvertHelper.AmplitudeConvert(item.Closed, item.Price)</span>
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Ltotal)
    </td>
    <td>
        <a name="num" href="javascript:;" onclick="morethan(@item.Num)" value="@item.Num">@item.Num</a>
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Time)
    </td>
</tr>
}
<script>
    function getChkNames() {
        var chk_value = [];
        $('input[name="ckb"]:checked').each(function () {
            chk_value.push($(this).val());
        });
        if (chk_value.length > 0) {
            var content = prompt("", chk_value);
            window.clipboardData.setData("Text", content);
        }
    }

    function morethan(num) {
        $("a[name='num']").each(function () {
            var i = parseInt($(this).attr("value"));
            if (i <= parseInt(num)) {
                $(this).css({ "border": "solid" })
            } else {
                $(this).css({ "border": "" })
            }
        });
    }
</script>