@using System.Configuration
@using GushWeb.Utility
@model IEnumerable<t_delta>

@{
    ViewBag.Title = "BreakThrough";

    var ajaxOption = new AjaxOptions
    {
        UpdateTargetId = "app",
        LoadingElementId = "loading",
        HttpMethod = "POST",
        //Confirm = "确认提交？",
        OnBegin = "onBegin()",
        OnSuccess = "onSuccess()",
        OnFailure = "onFailure()",
        OnComplete = "onComplete()",
        InsertionMode = InsertionMode.Replace
    };

    var ddk = ConfigurationManager.AppSettings["ddk"];
    var plateTypes = new List<SelectListItem>()
{
new SelectListItem(){Text = "SH",Value = "sh"},
new SelectListItem(){Text = "SZ",Value = "sz"},
new SelectListItem(){Text = "CY",Value = "sz300"},
new SelectListItem(){Text = "KC",Value = "sh688"},
};
}
@using (Ajax.BeginForm("BreakThroughAsync", ajaxOption))
{
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-4 column">
                <h2>
                    SH000001
                </h2>
                <img src="@String.Format(ddk+"?t={1}", "sh000001",DateTimeUtil.DateTimeToTimeStamp(DateTime.Now))" />
            </div>
            <div class="col-md-4 column">
                <h2>
                    SZ399001
                </h2>
                <img src="@String.Format(ddk+"?t={1}", "sz399001",DateTimeUtil.DateTimeToTimeStamp(DateTime.Now))" />
            </div>
            <div class="col-md-4 column">
                <h2>
                    SZ399006
                </h2>
                <img src="@String.Format(ddk+"?t={1}", "sz399006",DateTimeUtil.DateTimeToTimeStamp(DateTime.Now))" />
            </div>
        </div>
    </div>
    <br />
    <div class="input-group">
        @Html.TextBox("end", null, new { @class = "form-control pull-right", @placeholder = "End date", @readonly = "readonly" })
        @Html.TextBox("begin", null, new { @class = "form-control pull-right", @placeholder = "Begin date", @readonly = "readonly" })
        @Html.DropDownList("ptype", plateTypes, new { data_live_search = "false", @class = "queryDevice form-control pull-right" })
        <span class="input-group-btn">
            <button class="btn btn-default" type="submit">
                <span class="glyphicon glyphicon-search"></span>
            </button>
        </span>
    </div>
    <br />
    @Html.Partial("pview_through", Model)
    <p>
        @Html.ActionLink(@Resources.Resource1.backto, "Index", "Alarmnotes", new { area = "", target = "view_window" }, null)
    </p>

}


@section scripts
{
    <script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
    <script src="~/Scripts/bootstrap-select.min.js"></script>
    <script src="~/Scripts/stockBase.js"></script>
    <script src="~/Scripts/stockData.js"></script>
    <script>
        function onBegin() {
            //显示
            loading.show();
        }

        function onSuccess() {
            //影藏
            loading.hide();
            $("#modal-container").modal("hide");
        }

        function onFailure() {
            alert('请求错误');
            //影藏
            loading.hide();
        }

        function onComplete() {
            enableShiftCheck($('input[name="ckb"]'));
        }

        (function () {
            enableShiftCheck($('input[name="ckb"]'));
            var today = new Date();
            $("#begin,#end").datetimepicker({
                format: 'yyyy-mm-dd',
                daysOfWeekDisabled: '0,6',
                autoclose: true,
                minView: 2,
                endDate: today,
            });
            $("#begin,#end").dblclick(function () {
                $(this).val(new Date().Format("yyyy-MM-dd"));
            });
        })()
    </script>
}

