@model IEnumerable<t_delta>

@{
    ViewBag.Title = "BreakThrough";

    var ajaxOption = new AjaxOptions
    {
        UpdateTargetId = "app",
        LoadingElementId = "loading",
        HttpMethod = "POST",
        //Confirm = "确认提交？",
        OnBegin = "onBegin()",
        OnSuccess = "onSuccess()",
        OnFailure = "onFailure()",
        OnComplete = "onComplete()",
        InsertionMode = InsertionMode.Replace
    };
}
@using (Ajax.BeginForm("BreakThroughAsync", ajaxOption))
{
    <br />
    <div class="input-group">
        @Html.TextBox("end", null, new { @class = "form-control pull-right", @placeholder = "End date", @readonly = "readonly" })
        @Html.TextBox("begin", null, new { @class = "form-control pull-right", @placeholder = "Begin date", @readonly = "readonly" })
        <span class="input-group-btn">
            <button class="btn btn-default" type="submit">
                <span class="glyphicon glyphicon-search"></span>
            </button>
        </span>
    </div>
    <br />
    @Html.Partial("pview_through", Model)
    <p>
        @Html.ActionLink(@Resources.Resource1.backto, "Index", "Alarmnotes", new { area = "", target = "view_window" }, null)
    </p>

}


@section scripts
{
    <script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
    <script src="~/Scripts/stockBase.js"></script>
    <script src="~/Scripts/stockData.js"></script>
    <script>
        function onBegin() {
            //显示
            loading.show();
        }

        function onSuccess() {
            //影藏
            loading.hide();
            $("#modal-container").modal("hide");
        }

        function onFailure() {
            alert('请求错误');
            //影藏
            loading.hide();
        }

        function onComplete() {
            enableShiftCheck($('input[name="ckb"]'));
        }

        (function () {
            enableShiftCheck($('input[name="ckb"]'));
            var today = new Date();
            $("#begin,#end").datetimepicker({
                format: 'yyyy-mm-dd',
                daysOfWeekDisabled: '0,6',
                autoclose: true,
                minView: 2,
                endDate: today,
            });
            $("#begin,#end").dblclick(function () {
                $(this).val(new Date().Format("yyyy-MM-dd"));
            });
        })()
    </script>
}

