@model IEnumerable<t_catapult>

@{
    ViewBag.Title = "Catapult";

    var ajaxOption = new AjaxOptions
    {
        UpdateTargetId = "app",
        LoadingElementId = "loading",
        HttpMethod = "POST",
        //Confirm = "确认提交？",
        OnBegin = "onBegin()",
        OnSuccess = "onSuccess()",
        OnFailure = "onFailure()",
        OnComplete = "onComplete()",
        InsertionMode = InsertionMode.Replace
    };
}
@using (Ajax.BeginForm("CatapultAsyn", ajaxOption))
{
    <br />
    <div class="input-group">
        <label class="radio-inline">
            <input type="radio" name="daytype" value="0" checked> 3 Days
        </label>
        <label class="radio-inline">
            <input type="radio" name="daytype" value="1">5 Days
        </label>
        <label class="radio-inline">
            <input type="radio" name="daytype" value="2">15 Days
        </label>
        @Html.Hidden("col")
        @Html.TextBox("date", null, new { @class = "form-control pull-right", @placeholder = "Search date", @readonly = "readonly" })
        <span class="input-group-btn">
            <button class="btn btn-default" type="submit" onclick="setCol(0)">
                <span class="glyphicon glyphicon-search"></span>
            </button>
            <button class="btn btn-default" type="submit" onclick="setCol(1)">Rank</button>
            <button class="btn btn-default" type="submit" onclick="setCol(2)">Ltotal</button>
        </span>
    </div>
    <br />
    @Html.Partial("pview_catapult", Model)
    <p>
        @Html.ActionLink(@Resources.Resource1.backto, "Index", "Alarmnotes", new { area = "", target = "view_window" }, null)
    </p>

}


@section scripts
{
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
    <script>
        function onBegin() {
            //显示
            loading.show();
        }

        function onSuccess() {
            //影藏
            loading.hide();
            $("#modal-container").modal("hide");
        }

        function onFailure() {
            alert('请求错误');
            //影藏
            loading.hide();
        }

        function onComplete() {

        }

        function setCol(col) {
            $("#col").val(col);
            return true;
        }

        (function() {
            var today = new Date();
            $("#date").datetimepicker({
                format: 'yyyy-mm-dd',
                daysOfWeekDisabled: '0,6',
                autoclose: true,
                minView: 2,
                endDate: today,
            });
            $("#date").dblclick(function() {
                $(this).val(new Date().Format("yyyy-MM-dd"));
            });
        })()
    </script>
}

