@model IEnumerable<t_catapult>

@{
    ViewBag.Title = "Catapult";

    var ajaxOption = new AjaxOptions
    {
        UpdateTargetId = "app",
        LoadingElementId = "loading",
        HttpMethod = "POST",
        //Confirm = "确认提交？",
        OnBegin = "onBegin()",
        OnSuccess = "onSuccess()",
        OnFailure = "onFailure()",
        OnComplete = "onComplete()",
        InsertionMode = InsertionMode.Replace
    };
}
@using (Ajax.BeginForm("CatapultAsyn", ajaxOption))
{
    <br />
    <div class="input-group">
        @*<label class="radio-inline">
                <input type="radio" name="daytype" value="1">2
            </label>*@
        <label class="radio-inline">
            <input type="radio" name="daytype" value="2" checked="">3
        </label>
        <label class="radio-inline">
            <input type="radio" name="daytype" value="3">4
        </label>
        <label class="radio-inline">
            <input type="radio" name="daytype" value="4">5
        </label>
        <label class="radio-inline">
            <input type="radio" name="daytype" value="5">6
        </label>
        <label class="radio-inline">
            <input type="radio" name="daytype" value="6">7
        </label>
        <label class="radio-inline">
            <input type="radio" name="daytype" value="7">8
        </label>
        <label class="radio-inline">
            <input type="radio" name="daytype" value="-1">N
        </label>
        @Html.Hidden("col")
        @Html.TextBox("date", null, new { @class = "form-control pull-right", @placeholder = "Search date", @readonly = "readonly" })
        <span class="input-group-btn">
            <button class="btn btn-default" type="submit" onclick="setCol(0,0)">NextOpen</button>
        </span>
    </div>
    <br />
    @Html.Partial("pview_catapult", Model)
    <p>
        @Html.ActionLink(@Resources.Resource1.backto, "Index", "Alarmnotes", new { area = "", target = "view_window" }, null)
    </p>

}


@section scripts
{
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
    <script>
        function onBegin() {
            //显示
            loading.show();
        }

        function onSuccess() {
            //影藏
            loading.hide();
            $("#modal-container").modal("hide");
        }

        function onFailure() {
            alert('请求错误');
            //影藏
            loading.hide();
        }

        function onComplete() {

        }

        function setCol(col, odcol) {
            var val = $("#col").val();
            if (col == val) {
                $("#col").val(odcol);
            } else {
                $("#col").val(col);
            }
            return true;
        }

        function sameState(val) {
            $("a[name='num']").each(function () {
                var i = $(this).attr("value");
                if (i == val) {
                    $(this).css({ "border": "solid" })
                } else {
                    $(this).css({ "border": "" })
                }
            });
        }

        function showImg(val) {
            popup.appendImg(val);
        }

        (function () {
            var today = new Date();
            $("#date").datetimepicker({
                format: 'yyyy-mm-dd',
                daysOfWeekDisabled: '0,6',
                autoclose: true,
                minView: 2,
                endDate: today,
            });
            $("#date").dblclick(function () {
                $(this).val(new Date().Format("yyyy-MM-dd"));
            });
        })()
    </script>
}

