@{
    ViewBag.Title = "Details";
}
<form class="form-horizontal" role="form" method="post" id="mainForm" Autocomplete="on">
    <div class="input-group" style="margin:15px 0px">
        @Html.TextBox("code", ViewData["stockCode"], new { @class = "form-control pull-right", @placeholder = "Search codes" })
        @Html.Hidden("date", ViewData["stockDate"]);
        <span class="input-group-btn">
            <button id="btn_search" class="btn btn-default" type="button">
                <span class="glyphicon glyphicon-search"></span>
            </button>
        </span>
    </div>
    <div id="main" style="width: 1200px; height: 600px;"></div>
    <p>
        @Html.ActionLink(@Resources.Resource1.backto, "Index2")
    </p>
</form>

@section scripts
{
    @Scripts.Render("~/bundles/echarts")
    <script src="~/Scripts/stockHistory.js"></script>
    <script>
    $.postJson = function (url,data,callback) {
            $.post(url,data,callback,"json");
        };
    /*基于准备好的dom，初始化echarts实例*/
        var chartId = 'main';
        var mformId = "mainForm";
    var action = '@Url.Action("GetKLine")';
    // 数据意义：开盘(open)，收盘(close)，最低(lowest)，最高(highest)
        var data0;
    $("#btn_search").click(function (e) {
        e.preventDefault();//阻止事件传递
        loading.show();
        getKLine();
        loading.hide();
        });

    $(function () {
        getKLine(action, mformId, chartId);
    })

    </script>
}
