@model IEnumerable<t_opennotes>

@{
    ViewBag.Title = "Index";

    var ajaxOption = new AjaxOptions
    {
        UpdateTargetId = "tb",
        LoadingElementId = "loading",
        HttpMethod = "POST",
        //Confirm = "确认提交？",
        OnBegin = "onBegin()",
        OnSuccess = "onSuccess()",
        OnFailure = "onFailure()",
        OnComplete = "onComplete()",
        InsertionMode = InsertionMode.Replace
    };
}
@using (Ajax.BeginForm("Index2Asyn", ajaxOption))
{
    <br/>
<div class="input-group">
    @Html.TextBox("date", null, new { @class = "form-control pull-right", @placeholder = "Search date", @readonly="readonly" })
    <span class="input-group-btn">
        <button class="btn btn-default" type="submit">
            <span class="glyphicon glyphicon-search"></span>
        </button>
    </span>
</div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Rise)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Code)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
            </tr>
        </thead>
        <tbody id="tb">
            @Html.Partial("pviewIndexBydate", Model)
        </tbody>
    </table>
    <p>
        @Html.ActionLink(@Resources.Resource1.backto, "Index", "Alarmnotes", new { area = "", target = "view_window" }, null)
    </p>
}
@section scripts
{
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
    <script>
        function onBegin() {
            //显示
            loading.show();
        }
        function onSuccess() {
            //影藏
            loading.hide();
        }
        function onFailure() {
            alert('请求错误');
            //影藏
            loading.hide();
        }
        function onComplete() {

        }

        (function () {
            var today = new Date();
            $("#date").datetimepicker({
                format: 'yyyy-mm-dd',
                daysOfWeekDisabled: '0,6',
                autoclose: true,
                minView: 2,
                endDate: today,
            });
            
        })()
    </script>
}
