@model IEnumerable<t_foamState>

@{
    ViewBag.Title = "Catapult";

    var ajaxOption = new AjaxOptions
    {
        UpdateTargetId = "app",
        LoadingElementId = "loading",
        HttpMethod = "POST",
        //Confirm = "确认提交？",
        OnBegin = "onBegin()",
        OnSuccess = "onSuccess()",
        OnFailure = "onFailure()",
        OnComplete = "onComplete()",
        InsertionMode = InsertionMode.Replace
    };
}
@using (Ajax.BeginForm("NetbuyStatusAsycn", ajaxOption))
{
    <br />
    <div class="input-group">
        @Html.Hidden("col")
        @Html.TextBox("date", null, new { @class = "form-control pull-right", @placeholder = "Search code or name" })
        <span class="input-group-btn">
            <button class="btn btn-default" type="submit" onclick="setCol(0,0)">
                <span class="glyphicon glyphicon-search"></span>
            </button>
        </span>
    </div>
    <br />
    @Html.Partial("pview_netbuyState", Model)
    <p>
        @Html.ActionLink(@Resources.Resource1.backto, "Index", "Alarmnotes", new { area = "", target = "view_window" }, null)
    </p>

}


@section scripts
{
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
    <script src="~/Scripts/stockData.js"></script>
    <script>
        function onBegin() {
            //显示
            loading.show();
        }

        function onSuccess() {
            //影藏
            loading.hide();
            $("#modal-container").modal("hide");
        }

        function onFailure() {
            alert('请求错误');
            //影藏
            loading.hide();
        }

        function onComplete() {

        }

        function setCol(col, odcol) {
            var val = $("#col").val();
            if (col == val) {
                $("#col").val(odcol);
            } else {
                $("#col").val(col);
            }
            return true;
        }

        var today = new Date();
        var timer = self.setInterval("elapsed()", 6000);

        function elapsed() {
            //if (isToday()) {
            asyncGetStockData(getCodes).then(function (dataArray) {
                dataArray.forEach(function (item, index) {
                    updateChange(item[6], item[3]);
                });
            });
            //}
        }

        function updateChange(code, change) {
            $("span").each(function () {
                if ($(this).attr("name") == code + today.Format("yyyy-MM-dd")) {
                    var color = change > 0 ? "red" : "green";
                    $(this).html(change + '%');
                    $(this).css("color", color);
                }
            });
        }

        function getCodes() {
            var arry = new Array();
            $("[type=hidden][name='codes']").each(function () {
                var code = $(this).val() || '';
                if (code != '') {
                    arry.push(code);
                }
            });
            return arry;
        }

        (function () {
            var today = new Date();
            $("#date").datetimepicker({
                format: 'yyyy-mm-dd',
                daysOfWeekDisabled: '0,6',
                autoclose: true,
                minView: 2,
                endDate: today,
            });
            $("#date").dblclick(function () {
                $(this).val(new Date().Format("yyyy-MM-dd"));
            });
        })()
    </script>
}

