@using PagedList
@using PagedList.Mvc
@using System.Configuration
@model IEnumerable<t_foam>
@{
    var ajaxOption = new AjaxOptions
    {
        UpdateTargetId = "app",
        LoadingElementId = "loading",
        HttpMethod = "GET",
        //Confirm = "确认提交？",
        OnBegin = "onBegin()",
        OnSuccess = "onSuccess()",
        OnFailure = "onFailure()",
        OnComplete = "onComplete()",
        InsertionMode = InsertionMode.Replace
    };

    var maxDate = Model.Max(d => d.Date);
}
<div id="app">
    <div id="div_rises" class="alert alert-info alert-dismissable">
        <a name="amode" href="javascript:;" onclick="getModeQueue(@Convert.ToInt32(NetbuyMode.只看上涨))" value="@Convert.ToInt32(NetbuyMode.只看上涨)">@NetbuyMode.只看上涨.ToString()</a>[]<span>&nbsp;</span>
        <a name="amode" href="javascript:;" onclick="getModeQueue(@Convert.ToInt32(NetbuyMode.只看下跌))" value="@Convert.ToInt32(NetbuyMode.只看下跌)">@NetbuyMode.只看下跌.ToString()</a>[]<span>&nbsp;</span>
        <a name="amode" href="javascript:;" onclick="getModeQueue(@Convert.ToInt32(NetbuyMode.只看净买))" value="@Convert.ToInt32(NetbuyMode.只看净买)">@NetbuyMode.只看净买.ToString()</a>[]<span>&nbsp;</span>
        <a name="amode" href="javascript:;" onclick="getModeQueue(@Convert.ToInt32(NetbuyMode.只看净卖))" value="@Convert.ToInt32(NetbuyMode.只看净卖)">@NetbuyMode.只看净卖.ToString()</a>[]<span>&nbsp;</span>
        <a name="amode" href="javascript:;" onclick="getModeQueue(@Convert.ToInt32(NetbuyMode.主力放量买入))" value="@Convert.ToInt32(NetbuyMode.主力放量买入)">@NetbuyMode.主力放量买入.ToString()</a>[]<span>&nbsp;</span>
        <a name="amode" href="javascript:;" onclick="getModeQueue(@Convert.ToInt32(NetbuyMode.主力放量卖出))" value="@Convert.ToInt32(NetbuyMode.主力放量卖出)">@NetbuyMode.主力放量卖出.ToString()</a>[]<span>&nbsp;</span>
        <a name="amode" href="javascript:;" onclick="getModeQueue(@Convert.ToInt32(NetbuyMode.主力缩量买入))" value="@Convert.ToInt32(NetbuyMode.主力缩量买入)">@NetbuyMode.主力缩量买入.ToString()</a>[]<span>&nbsp;</span>
        <a name="amode" href="javascript:;" onclick="getModeQueue(@Convert.ToInt32(NetbuyMode.主力缩量卖出))" value="@Convert.ToInt32(NetbuyMode.主力缩量卖出)">@NetbuyMode.主力缩量卖出.ToString()</a>[]<span>&nbsp;</span>
        <a name="amode" href="javascript:;" onclick="getModeQueue(@Convert.ToInt32(NetbuyMode.散户放量买入))" value="@Convert.ToInt32(NetbuyMode.散户放量买入)">@NetbuyMode.散户放量买入.ToString()</a>[]<span>&nbsp;</span>
        <a name="amode" href="javascript:;" onclick="getModeQueue(@Convert.ToInt32(NetbuyMode.散户放量卖出))" value="@Convert.ToInt32(NetbuyMode.散户放量卖出)">@NetbuyMode.散户放量卖出.ToString()</a>[]<span>&nbsp;</span>
        <a name="amode" href="javascript:;" onclick="getModeQueue(@Convert.ToInt32(NetbuyMode.散户缩量买入))" value="@Convert.ToInt32(NetbuyMode.散户缩量买入)">@NetbuyMode.散户缩量买入.ToString()</a>[]<span>&nbsp;</span>
        <a name="amode" href="javascript:;" onclick="getModeQueue(@Convert.ToInt32(NetbuyMode.散户缩量卖出))" value="@Convert.ToInt32(NetbuyMode.散户缩量卖出)">@NetbuyMode.散户缩量卖出.ToString()</a>[]<span>&nbsp;</span>
        <a name="amode" href="javascript:;" onclick="getModeQueue(@Convert.ToInt32(NetbuyMode.昨天主力放量买入))" value="@Convert.ToInt32(NetbuyMode.昨天主力放量买入)">@NetbuyMode.昨天主力放量买入.ToString()</a>[]<span>&nbsp;</span>
        <a name="amode" href="javascript:;" onclick="getModeQueue(@Convert.ToInt32(NetbuyMode.昨天主力放量卖出))" value="@Convert.ToInt32(NetbuyMode.昨天主力放量卖出)">@NetbuyMode.昨天主力放量卖出.ToString()</a>[]<span>&nbsp;</span>
        <a name="amode" href="javascript:;" onclick="getModeQueue(@Convert.ToInt32(NetbuyMode.昨天主力缩量买入))" value="@Convert.ToInt32(NetbuyMode.昨天主力缩量买入)">@NetbuyMode.昨天主力缩量买入.ToString()</a>[]<span>&nbsp;</span>
        <a name="amode" href="javascript:;" onclick="getModeQueue(@Convert.ToInt32(NetbuyMode.昨天主力缩量卖出))" value="@Convert.ToInt32(NetbuyMode.昨天主力缩量卖出)">@NetbuyMode.昨天主力缩量卖出.ToString()</a>[]<span>&nbsp;</span>
        <a name="amode" href="javascript:;" onclick="getModeQueue(@Convert.ToInt32(NetbuyMode.昨天散户放量买入))" value="@Convert.ToInt32(NetbuyMode.昨天散户放量买入)">@NetbuyMode.昨天散户放量买入.ToString()</a>[]<span>&nbsp;</span>
        <a name="amode" href="javascript:;" onclick="getModeQueue(@Convert.ToInt32(NetbuyMode.昨天散户放量卖出))" value="@Convert.ToInt32(NetbuyMode.昨天散户放量卖出)">@NetbuyMode.昨天散户放量卖出.ToString()</a>[]<span>&nbsp;</span>
        <a name="amode" href="javascript:;" onclick="getModeQueue(@Convert.ToInt32(NetbuyMode.昨天散户缩量买入))" value="@Convert.ToInt32(NetbuyMode.昨天散户缩量买入)">@NetbuyMode.昨天散户缩量买入.ToString()</a>[]<span>&nbsp;</span>
        <a name="amode" href="javascript:;" onclick="getModeQueue(@Convert.ToInt32(NetbuyMode.昨天散户缩量卖出))" value="@Convert.ToInt32(NetbuyMode.昨天散户缩量卖出)">@NetbuyMode.昨天散户缩量卖出.ToString()</a>[]<span>&nbsp;</span>
        <a name="amode" href="javascript:;" onclick="getModeQueue(@Convert.ToInt32(NetbuyMode.全部))" value="@Convert.ToInt32(NetbuyMode.全部)">@NetbuyMode.全部.ToString()</a>[]
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>

                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Code)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    <a href="javascript:;" onclick="getColQueue(1)">@Html.DisplayNameFor(model => model.Netbuy)</a>
                </th>
                <th>
                    <a href="javascript:;" onclick="getColQueue(2)">@Html.DisplayNameFor(model => model.Change)</a>
                </th>
                <th>
                    <a href="javascript:;" onclick="getColQueue(3)">@Html.DisplayNameFor(model => model.Total)</a>
                </th>
                <th>
                    <a href="javascript:;" onclick="getColQueue(4)">@Html.DisplayNameFor(model => model.Num)</a>
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.State)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Time)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
            </tr>
        </thead>
        <tbody id="tb">
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.Hidden("codes", item.Date == maxDate ? item.Code : "")
                    </td>
                    <td>
                        @ControlHelper.UrlControl(@ConfigurationManager.AppSettings["iwc"], item.Code)
                    </td>
                    <td>
                        <a href="javascript:;" onclick="getCodeQueue('@item.Code')">@item.Name</a>
                    </td>
                    <td>
                        @ConvertHelper.ColorConvert(item.Netbuy)
                    </td>
                    <td>
                        <span name="@(item.Code + item.Date)">@ConvertHelper.ColorConvert(item.Change)</span>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Total)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Num)
                    </td>
                    <td>
                        @ConvertHelper.ForceConvert(item.State)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Time)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div style="text-align: center;">
        @Html.PagedListPager(Model as IPagedList, page => Url.Action("NetbuyPage", new { index = page, date = Request["date"], mode = Request["mode"], col = Request["col"], odcol = ViewData["odcol"] }))
    </div>
</div>

