@using System.Configuration
@using GushWeb.Utility
@using System.Configuration
@model IEnumerable<t_foam>
@{
    var url = ConfigurationManager.AppSettings["iwc"];
    var img = ConfigurationManager.AppSettings["ddk"];

    var ajaxOption = new AjaxOptions
    {
        UpdateTargetId = "app",
        LoadingElementId = "loading",
        HttpMethod = "GET",
        //Confirm = "确认提交？",
        OnBegin = "onBegin()",
        OnSuccess = "onSuccess()",
        OnFailure = "onFailure()",
        OnComplete = "onComplete()",
        InsertionMode = InsertionMode.Replace
    };

    var maxDate = DateTime.Today.ToYYYYMMDD();
    ;
}
<div id="app">
    <div id="div_rises" class="alert alert-info alert-dismissable">
        <a name="amode" href="javascript:;" onclick="getModeQueue(@Convert.ToInt32(NetbuyMode.只看上涨))" value="@Convert.ToInt32(NetbuyMode.只看上涨)">@NetbuyMode.只看上涨.ToString()</a>[]<span>&nbsp;</span>
        <a name="amode" href="javascript:;" onclick="getModeQueue(@Convert.ToInt32(NetbuyMode.只看下跌))" value="@Convert.ToInt32(NetbuyMode.只看下跌)">@NetbuyMode.只看下跌.ToString()</a>[]<span>&nbsp;</span>
        <a name="amode" href="javascript:;" onclick="getModeQueue(@Convert.ToInt32(NetbuyMode.只看净买))" value="@Convert.ToInt32(NetbuyMode.只看净买)">@NetbuyMode.只看净买.ToString()</a>[]<span>&nbsp;</span>
        <a name="amode" href="javascript:;" onclick="getModeQueue(@Convert.ToInt32(NetbuyMode.只看净卖))" value="@Convert.ToInt32(NetbuyMode.只看净卖)">@NetbuyMode.只看净卖.ToString()</a>[]<span>&nbsp;</span>
        <a name="amode" href="javascript:;" onclick="getModeQueue(@Convert.ToInt32(NetbuyMode.主力洗筹初期))" value="@Convert.ToInt32(NetbuyMode.主力洗筹初期)">@NetbuyMode.主力洗筹初期.ToString()</a>[]<span>&nbsp;</span>
        <a name="amode" href="javascript:;" onclick="getModeQueue(@Convert.ToInt32(NetbuyMode.主力大互盘))" value="@Convert.ToInt32(NetbuyMode.主力大互盘)">@NetbuyMode.主力大互盘.ToString()</a>[]<span>&nbsp;</span>
        <a name="amode" href="javascript:;" onclick="getModeQueue(@Convert.ToInt32(NetbuyMode.主力洗筹末期))" value="@Convert.ToInt32(NetbuyMode.主力洗筹末期)">@NetbuyMode.主力洗筹末期.ToString()</a>[]<span>&nbsp;</span>
        <a name="amode" href="javascript:;" onclick="getModeQueue(@Convert.ToInt32(NetbuyMode.主力小互盘))" value="@Convert.ToInt32(NetbuyMode.主力小互盘)">@NetbuyMode.主力小互盘.ToString()</a>[]<span>&nbsp;</span>
        <a name="amode" href="javascript:;" onclick="getModeQueue(@Convert.ToInt32(NetbuyMode.主力大砸盘))" value="@Convert.ToInt32(NetbuyMode.主力大砸盘)">@NetbuyMode.主力大砸盘.ToString()</a>[]<span>&nbsp;</span>
        <a name="amode" href="javascript:;" onclick="getModeQueue(@Convert.ToInt32(NetbuyMode.主力拉伸末期))" value="@Convert.ToInt32(NetbuyMode.主力拉伸末期)">@NetbuyMode.主力拉伸末期.ToString()</a>[]<span>&nbsp;</span>
        <a name="amode" href="javascript:;" onclick="getModeQueue(@Convert.ToInt32(NetbuyMode.主力小砸盘))" value="@Convert.ToInt32(NetbuyMode.主力小砸盘)">@NetbuyMode.主力小砸盘.ToString()</a>[]<span>&nbsp;</span>
        <a name="amode" href="javascript:;" onclick="getModeQueue(@Convert.ToInt32(NetbuyMode.主力拉伸初期))" value="@Convert.ToInt32(NetbuyMode.主力拉伸初期)">@NetbuyMode.主力拉伸初期.ToString()</a>[]<span>&nbsp;</span>
        <a name="amode" href="javascript:;" onclick="getModeQueue(@Convert.ToInt32(NetbuyMode.昨日上涨))" value="@Convert.ToInt32(NetbuyMode.昨日上涨)">@NetbuyMode.昨日上涨.ToString()</a>[]<span>&nbsp;</span>
        <a name="amode" href="javascript:;" onclick="getModeQueue(@Convert.ToInt32(NetbuyMode.昨日下跌))" value="@Convert.ToInt32(NetbuyMode.昨日下跌)">@NetbuyMode.昨日下跌.ToString()</a>[]<span>&nbsp;</span>
        <a name="amode" href="javascript:;" onclick="getModeQueue(@Convert.ToInt32(NetbuyMode.昨日净买))" value="@Convert.ToInt32(NetbuyMode.昨日净买)">@NetbuyMode.昨日净买.ToString()</a>[]<span>&nbsp;</span>
        <a name="amode" href="javascript:;" onclick="getModeQueue(@Convert.ToInt32(NetbuyMode.昨日净卖))" value="@Convert.ToInt32(NetbuyMode.昨日净卖)">@NetbuyMode.昨日净卖.ToString()</a>[]<span>&nbsp;</span>
        <a name="amode" href="javascript:;" onclick="getModeQueue(@Convert.ToInt32(NetbuyMode.昨日主力洗筹初期))" value="@Convert.ToInt32(NetbuyMode.昨日主力洗筹初期)">@NetbuyMode.昨日主力洗筹初期.ToString()</a>[]<span>&nbsp;</span>
        <a name="amode" href="javascript:;" onclick="getModeQueue(@Convert.ToInt32(NetbuyMode.昨日主力大互盘))" value="@Convert.ToInt32(NetbuyMode.昨日主力大互盘)">@NetbuyMode.昨日主力大互盘.ToString()</a>[]<span>&nbsp;</span>
        <a name="amode" href="javascript:;" onclick="getModeQueue(@Convert.ToInt32(NetbuyMode.昨日主力洗筹末期))" value="@Convert.ToInt32(NetbuyMode.昨日主力洗筹末期)">@NetbuyMode.昨日主力洗筹末期.ToString()</a>[]<span>&nbsp;</span>
        <a name="amode" href="javascript:;" onclick="getModeQueue(@Convert.ToInt32(NetbuyMode.昨日主力小互盘))" value="@Convert.ToInt32(NetbuyMode.昨日主力小互盘)">@NetbuyMode.昨日主力小互盘.ToString()</a>[]<span>&nbsp;</span>
        <a name="amode" href="javascript:;" onclick="getModeQueue(@Convert.ToInt32(NetbuyMode.昨日主力大砸盘))" value="@Convert.ToInt32(NetbuyMode.昨日主力大砸盘)">@NetbuyMode.昨日主力大砸盘.ToString()</a>[]<span>&nbsp;</span>
        <a name="amode" href="javascript:;" onclick="getModeQueue(@Convert.ToInt32(NetbuyMode.昨日主力拉伸末期))" value="@Convert.ToInt32(NetbuyMode.昨日主力拉伸末期)">@NetbuyMode.昨日主力拉伸末期.ToString()</a>[]<span>&nbsp;</span>
        <a name="amode" href="javascript:;" onclick="getModeQueue(@Convert.ToInt32(NetbuyMode.昨日主力小砸盘))" value="@Convert.ToInt32(NetbuyMode.昨日主力小砸盘)">@NetbuyMode.昨日主力小砸盘.ToString()</a>[]<span>&nbsp;</span>
        <a name="amode" href="javascript:;" onclick="getModeQueue(@Convert.ToInt32(NetbuyMode.昨日主力拉伸初期))" value="@Convert.ToInt32(NetbuyMode.昨日主力拉伸初期)">@NetbuyMode.昨日主力拉伸初期.ToString()</a>[]<span>&nbsp;</span>
        <a name="amode" href="javascript:;" onclick="getModeQueue(@Convert.ToInt32(NetbuyMode.全部))" value="@Convert.ToInt32(NetbuyMode.全部)">@NetbuyMode.全部.ToString()</a>[]
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>

                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Code)
                </th>
                <th>
                    <a href="javascript:;" onclick="getChkNames()">@Html.DisplayNameFor(model => model.Name)</a>
                </th>
                <th>
                    <a href="javascript:;" onclick="getColQueue(1)">@Html.DisplayNameFor(model => model.Netbuy)</a>
                </th>
                <th>
                    <a href="javascript:;" onclick="getColQueue(2)">@Html.DisplayNameFor(model => model.Change)</a>
                </th>
                <th>
                    <a href="javascript:;" onclick="getColQueue(3)">@Html.DisplayNameFor(model => model.Ltotal)</a>
                </th>
                <th>
                    <a href="javascript:;" onclick="getColQueue(5)">@Html.DisplayNameFor(model => model.Num)</a>
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.State)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Time)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
            </tr>
        </thead>
        <tbody id="tb">
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.Hidden("codes", item.Date == maxDate ? item.Code : "")
                    </td>
                    <td>
                        @ControlHelper.UrlControl(url, item.Code)
                    </td>
                    <td>
                        <a href="javascript:;" onclick="getCodeQueue('@item.Code')" onmouseover = "showImg('@String.Format(img,item.Code)')" >@item.Name</a>
                        @Html.CheckBox("ckb", new { value = @item.Name })
                    </td>
                    <td>
                        @ConvertHelper.ColorConvert(item.Netbuy)
                    </td>
                    <td>
                        <span name="@(item.Code + item.Date)">@ConvertHelper.AmplitudeConvert(item.Change)</span>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ltotal)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Num)
                    </td>
                    <td>
                        @ConvertHelper.ForceConvert(item.State)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Time)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script>
    function getChkNames() {
        var chk_value = [];
        $('input[name="ckb"]:checked').each(function () {
            chk_value.push($(this).val());
        });
        if (chk_value.length > 0) {
            var content = prompt("", chk_value);
            window.clipboardData.setData("Text", content);
        }
    }

    function showImg(url) {
        popup.appendImg(url);
    }
</script>

